@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    padding: 0;
    margin: 0;

}

.prueba {
    background: hotpink;
    color: indigo;
    margin: auto;
    width: 100%;
    height: 250px;
}

body {
    background:lightseagreen;
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    font-weight: 700;
}