@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    list-style: none;

}

body {
    background:white;
    font-size: 16px;
}

.prueba {
    background: #000;
    color: #c4b8b7;
    margin: auto;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.header-name {
    font-size: 2em;
    margin-right: 20px;
    cursor: pointer;
}

.header-name span {
    font-weight: 700;
}

.nav-links {
    font-size: 1.1em;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:visited{
    color: #c4b8b7 ;
}

.nav-links li a:hover{
    color: #6d747a;
    font-size: 2em;
}

/* Para los iconos */
#icon-menu, #icon-close {
    cursor: pointer;
    font-size: 1.8em;
    display: none;
}

.fa-facebook:hover {color: rgb(116, 74, 233)}
.fa-instagram:hover {color: rgb(230, 16,201)}
.fa-github:hover {color: rgb(230, 77, 16)}

.icons i{
    display: none;
    font-size: 2em;
}

.icons a{
    color: #c4b8b7;
    text-decoration: none;
}

.icons a:visited {
    color: #c4b8b7;
}

/* para el diseño responsivo */
@media(max-width: 768px) {

    .nav-links {
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        flex-direction: column;
        z-index: 10;
        justify-content: center;
        align-items: center;
        transition: top 1s ease;
        display: none;
        background: #000;
        text-align: center;
    }

    .nav-links li a {
        display: block;
        width: 100vh;
    }
 
    #icon-menu {
        margin-left: 15px;
        display: block;
    }

    .nav-links #icon-close {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .icons {
        display: flex;
        justify-content: center;
    }

    .icons i{
        display: inline-block;
        padding: 12px;
    }
}


.contenido {
    width: 100%;
    height: 500px;
    align-items: center;
    background-image: url("img/IMG_0100.jpg");
    background-position: center;

}

.contenido h2 {
    font-size: 5em;
    color: #000;
    transition: all 1s ease-in;
    margin-left: 25px;
}

.contenido h2 span {
    font-weight: 900;
}

.contenido h2:hover {
    text-shadow: 0 0 5px #fff;
}

.biografia {
    width: 100%;
    background: #000;
    font-size: 12px;
    position: relative;
    box-sizing: content-box;
    min-height: 350px;
}


.biografia .fotoyo{
    width: 150px;
    height: 150px;
    margin: 15px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    /* border radius con 50% para hcer circular una imagen o contenedor */
    box-shadow: 0px 0px 10px #6d747a;
    display: inline-block;
}

.introbio {
    overflow: hidden;
    height: 150px;
    position: relative;
    max-width: 35%;
    display: inline-block;
}

.biografia .yo {
    color: #c4b8b7;
    text-shadow: 1px 1px #6d747a;
    text-align: left;
    display: block;
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
}

.biografia p {
    color: #c4b8b7;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    width: 100%;
}

.seriesfav {
    position: relative;
    display: block;
    height: 150px;
    max-width: 35%;
}

.biografia .listaseries {
    display: block;
    position: relative;
    margin-top: 10px;
    margin-left: 15px;
    color: #c4b8b7;
    text-shadow: 1px 1px #6d747a;
}

.biografia .listaser {
    display: inline-block;
    margin-left: 25px;
    list-style: circle;
    color: #c4b8b7;
}

.fondo {
    display: block;
    background:#000;
    color: #fff;
    text-align: center;
    font-size: .85em;
}

.fondo p {
    color: inherit;
}

